.join__wrapper {
  height: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0px 24px;
  align-items: center;
  justify-content: center;
  background: var(--primary);
}

.join__container {
  width: 300px;
  padding: 28px 24px;
  border-radius: 32px;
  background: var(--primary-bg);
}
