.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 42px;
  height: 42px;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50%;
  background: var(--white);
  color: var(--text-color-primary);
}

.avatar.avatar--bg {
  background: var(--primary-bg);
}
