.input__wrapper {
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-between;
  font-size: 16px;
  min-height: 36px;
  border-radius: 24px;
  background: var(--white);
  padding: 8px 14px 8px 18px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.input__send {
  width: 24px;
  height: 24px;
  display: flex;
  cursor: pointer;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  padding: 10px 11px 10px 9px;
  transition: background 0.3s ease;
}
.input__send:hover {
  background: var(--primary-bg);
}

.send_icon {
  width: 24px;
  height: 24px;
}

.input {
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: transparent;
  color: var(--text-color-primary);
}
.input--shrunk {
  width: calc(100% - 42px);
}
